* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.row{
    width: 100%;
}

.col{
    float: left;
    border: 1px solid black;
    width: 100;
    margin: 1%;
    background: #f7f7f7;
}

@media (min-width: 768px) and (max-width: 992px) {
    .col-md1{

        float: left;
        border: 1px solid black;
        width: 48%;
        height: 470px;
        margin: 1%;
    }

    .col-md2{
        float: left;
        border: 1px solid black;
        width: 98%;
        margin: 1%;        
    }
}

@media (min-width: 992px) {
    .col-lg{
        float: left;
        border: 1px solid black;
        width: 31.33%;
        height: 470px;
        margin: 1%;
        }
    
}

h1 {
    text-align: center;
    font-size: 56px;
}

.Text{
    float: right;
    padding: 1%;
    margin: 2%;
    font-size: 20px;
}

#Beef{
    color: #f8f8ff;
    font-size: 20px;
    font-weight: bold;
    background: #323643;
    text-align: center;
    
    width: 25%;
    border: 1px solid black;
    float: right;
}

#Chicken{
    color: #f8f8ff;
    font-size: 20px;
    font-weight: bold;
    background: #606470;
    text-align: center;
    
    width: 25%;
    border: 1px solid black;
    float: right;
}

#Sushi{
    color: #f8f8ff;
    font-size: 20px;
    font-weight: bold;
    background: #93deff;
    text-align: center;
    
    width: 25%;
    border: 1px solid black;
    float: right;
}

