body{
    font-size: 16px;
    color: #333333;
    background-color: #ff4500;
    font-family: 'Oswald', sans-serif;
}   

/** HEADER **/
#header-nav{
    color: #f5f5f5;
    background-color: #000000;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    margin-bottom: 15px;
  }

.navbar-brand h1{ /* Restaurant name */
    font-family: 'Kanit', sans-serif;
    color: #f5f5f5;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    margin: 0;
    padding: 0;
}

.navbar-brand a{
text-decoration: none;
}

#nav-list{
    text-align: center;
}

#main-content-title{
    font-size: 2em;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 40px;
}

#main-content-heading{
    font-size: 1.6em;
    font-weight: bold;
}

#Chicken{
    background-color: #f5f5f5;
    border: 2px solid #8b0000;
    border-radius: 15px;
      
}

#Beef{
    background-color: #f5f5f5;
    border: 2px solid #8b0000;
    border-radius: 15px;
    
}

#Sushi{
    background-color: #f5f5f5;
    border: 2px solid #8b0000;
    border-radius: 15px;
   
}

#text{
    padding: 10px;
}

#top_link{
    padding: 10px;
}